@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-orange: #ff9a8b;
  --color-pink: #ff6a88;
  --color-blue-purple: #aa66cc;
}

:root.light {
  --background: #f8f8f8; /* Light off-white */
  --foreground: #1a202c; /* Dark navy */
}

:root.dark {
  --background: #1a202c; /* Dark navy background */
  --foreground: #f8f8f8; /* Light text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

